<html>
<head>
    <title>
        DEMO OF HBS
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="nav">
    <div class="name">GLOBEX</div>
    <div class="home">HOME</div>
    <div class="about">ABOUT</div>
    <div class="news">NEWS</div>
</div>
<div class="container">
    <div class="content">
    <div class="picture">
        <img src="/images/signifiya.jpg" class="image">
    </div>
    <div class="welcome">
        <h1>COMING<br><span>SOON</span></h1>
    </div>
    </div>
<div class="glow-box">
<form action="/send" method="POST">
    <p>REGISTER<br><span>Fill up this form to register</span></p>
    <label class="style" for="name">Name</label>
    <br>
    <input required class="edit" type="text" name="name" placeholder="Enter your name">
    <br>
    <br>
    <label class="style" for="roll_no">Roll No.</label>
    <br>
    <input required class="edit"  type="text" name="roll_no" placeholder="Enter your roll number">
    <br>
    <br>
    <label class="style" for="reg_no">Registration No.</label>
    <br>
    <input required class="edit" type="text" name="reg_no" placeholder="Enter your registration number">
    <br>
    <br>
    <label class="style" for="event">Event Name</label>
    <br>
    <select required class="edit"  name="event">
        <option>Select event</option>
        <option>Tug Of War</option>
        <option>Science Olympiad</option>
        <option>Lathe War</option>
        <option>Robo Terrain</option>
        <option>Bridge Building</option>
        <option>Path Follower</option>
        <option>Valorant</option>
        <option>Coding Premier League</option>
        <option>Treasure Hunt</option>
        <option>Pes</option>
        <option>Re-Fab</option>
        <option>Circuitronix</option>
        <option>Battlegrounds</option>
    </select>
    <br>
    <br>
    <input class="sub" type="submit" value="Register Now">
    <br>
    <br>
    <center>
    <a href="/display">VIEW SUBMITTED DATA</a>
        </center>
</form>
    </div>
</div>
<marquee class="footer">SIGNIFIYA-a thrilling playground of technology and creativity!Imagine programming
robots to navigate intricate pathways in the Path Follower challenge ,or witnessing engineering prowess in
action during the Lathe War ,where participants craft mesmerizing designs from raw materials.Get ready
to unleash your inner innovator at the annual Techfest- SIGNIFIYA 2025!</marquee>
</body>
</html>
